<% if @stock %>
  <div class="card card-header results-block">
      <strong>Symbol: </strong> <%= @stock.ticker %>
      <strong>Company Name: </strong> <%= @stock.name %>
      <strong>Price: </strong> <%= @stock.price %>
    </div>
<% end %>